<div class="container">
  <header class="blog-header py-3">
    <h1 class="blog-title">My Blog</h1>
    <p class="lead blog-description">An example blog template built with Bootstrap.</p>
    <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#">Subscribe</a>
      </div>
<!--       <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">Large</a>
      </div> -->
    </div>
  </header>