<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, height: 450, alt: "profile image" %>
  </div>

  <div class="col-md-8"
    <p>With a career spanning three decades in the U.S. Navy I am looking at making a vast career change. Web development along with Information Technology, moreover now than ever, offers the opportunity for a secure profession in the foreseeable future.</p>
  </div>

</div>

