<h1>Pleasure to Meet You</h1>

<hr>

<h3>Office Address</h3>

<p>12953 S. Minuteman Dr., Draper, UT 84020</p>

<h3>Phone</h3>

<p><%= number_to_phone "8014003309" %></p>

<h3>Email</h3>

<p><a href="mailto:shilo_davies@hotmail.com?subject=PortfolioContact" "email me">Email me</a></p>

<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3033.101631015935!2d-111.89109378409731!3d40.517244679353546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752873c7fcd601f%3A0x69f507b89e3ed63!2sUtah+Army+National+Guard+Recruiting+SFC+Joshua+Lowery!5e0!3m2!1sen!2sus!4v1517610326960" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>