<body class="text-center">

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Cover your page.</h1>
      <p class="lead">Life teaches us hard lessons, but if we learn to push through to see our desired end then Life has done its job and shall produce a benefit that could have a positive ripple effect for many more.</p>
      <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
      </p>
  </main>
</body>